
<div class="page-header">
  <h1>User Infomation</h1>
</div>

<div class="panel panel-default">
  <div class="panel-heading">ID</div>
  <div class="panel-body">
    <%= @user.id %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Email</h3>
  </div>
  <div class="panel-body">
    <%= @user.email %>
  </div>
</div>

<form data-remote="true" method="post" action="<%= push_admin_user_path(@user) %>" id="push_form">
<div class="input-group">
<input class="form-control" type="text" placeholder="Message" name="message">
<span class="input-group-btn">
  <%= button_tag "Send", class: 'btn btn-default', data: {confirm: '정말 보내시겠습니까?'} %>
</span>
</div>
</form>